<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
    
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <script src="jquery-3.2.1.min.js"></script>
    <script src="script.js"></script>

  <link rel="stylesheet" href="{% static 'css/somos.css' %}">
</head>
<br>
<br>
<br>
<br>
<body background="{% static 'img/fondosomos.jpg' %}">

    <section class="content-form">

        <h2 class="sub-title">SOBRE NOSOTROS</h2>
          
       <a> Somos una corporación destinada a trabajar por el bienestar animal y promover el respeto y la tenencia responsable de animales de compañía, especialmente en condición de abandono, rescatando y mejorando las condiciones sanitarias, educando y generando conciencia en la población. Esto lo hacemos para mejorar la calidad de vida, las condiciones de salud pública y contribuir a una sociedad más empática, solidaria y consciente de la interacción de los animales con el ser humano.</a>
       <br>
       <br>
        <a href="http://127.0.0.1:8000/" class="btn" >Volver al sitio</a> 
     
    </form>     
    <br> 
    <br>              
    </section>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <div class="derechos">
        Derechos Reservados © <a target="_blank">Mis Perris</a>  2018  
    </div>
</footer>
    
</body>
</html>