<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>Formulario de Registro</title>
    
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<script src="jquery-3.2.1.min.js"></script>
    <script src="script.js"></script>

  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<br>
<br>
<br>
<br>
<body background="{% static 'img/fondo2.png' %}">

	<section class="content-form">

		<h2 class="sub-title">Formulario de registro</h2>
		  
        <br>
        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn" type="submit" name="submit">
       
    </form>  	
                        
	</section>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
	<div class="derechos">
		Derechos Reservados © <a target="_blank">Mis Perris</a>  2018  
	</div>
</footer>
	
</body>
</html>